<div class="main">
  <div class="chat">
  <% @users.each do |user| %>
   <% @messages.each do |message| %>
      
       <% unless @messages.blank? %>
      <div class="chat-message1">           
       <div class="chat-message2">
        <div class="container">
         <p>
           <span style="word-spacing: 20pt">
             <span style="font-weight: bold">
               <%= user.name %>
             </span>
             <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
           </span>
         </P> 
         <p>
            <span class="space">
                  <%= message.content %>
            </span>
          </p> 
        </div>
      </div>
      <div class="message-edit">
        <ul>
         <li><%= link_to "edit", messages_edit_path(message.id) %></li>
         <li><%= link_to 'delete', messages_destroy_path(message.id) , method: :delete %></li>
        </ul>
      </div>
      <% else %>
        <div class="chat-message1">
          <p>No message yet.</p>
        </div>
      <% end %>
   </div>
    <% end %> 
  </div>
  <div class="chat-form">
   <%= form_with model: @message, url: messages_create_path, id: "new_message", local: true do |f| %>
   
    <%= f.text_field :content, class: "text" %>
    <%= f.submit "SEND" , class: "submit" %>
    
         
    <% end %> 
   <% end %>
  </div>
</div>
